/* CSS declarations go here */
body{
	background-color: #B1CACA;
}
.item{
	border: 1px solid black;
}
.item span{
	background: #749595;
	font-size: 2em;
	width: 100%;
	display: block;
}
#col{
	width: 50%;
	margin-left: 10%;
}
.search{
	border: 1px solid black;
}
.search span{
	background: #749595;
	font-size: 2em;
	width: 100%;
	display: block;
}